<div class="wrapper ">
  <div class="sidebar" data-color="myDefault" data-background-color="white" data-image="assets/img/sidebar-4.jpg">
    <app-sidenav></app-sidenav>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:;">View Attendance</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="card card-plain">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover text-center">
                  <thead class="card-header card-header-myDef">
                    <th>
                      Index Number
                    </th>
                    <th>
                      Student Name
                    </th>
                    <th>
                      Course
                    </th>
                    <th>
                      Date & Time
                    </th>
                    <th colspan="8">
                      Activity
                    </th>
                  </thead>

                  <tbody>
                    <tr>
                      <td>
                        PS/ITC/16/0000
                      </td>
                      <td>
                        Juliet Ilupeju
                      </td>
                      <td>
                        BSC. IT
                      </td>
                      <td>
                        02/12/1478 
                      </td>
                      <td><i class="fas fa-check-circle success"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="">
                Student Attendance System
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right" style="font-size: 14px;">
          &copy;
          <script>
            document.write(new Date().getFullYear())

          </script>. Developed by UCC IT Students.
        </div>
      </div>
    </footer>
  </div>
</div>
