
<div class="wrapper ">
  <div class="sidebar" data-color="myDefault" data-background-color="white" data-image="assets/img/sidebar-4.jpg">
    <app-sidenav></app-sidenav>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:;">Add Student</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <!-- <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">
                <i class="fas fa-sign-out" aria-hidden="true"></i> Logout
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <form [formGroup]="addStudentForm">
          <div class="row">
            <app-loader></app-loader>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-myDef">
                  <p class="card-category">Fill all the fields in this form to successfully add a
                    new
                    student</p>
                </div>
                <div class="card-body">
                  <div class="row mb-4">
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                        <label>Mr/Mrs/Ms</label>
                        <input type="text" class="form-control" formControlName="prefix" name="prefix" id="prefix">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" formControlName="fname" name="fname" id="fname">
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                        <label>Middle Name</label>
                        <input type="text" class="form-control" formControlName="lname" name="lname" id="lname">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" formControlName="mname" name="mname" id="mname">
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col-md-12">
                      <div class="form-group bmd-form-group">
                        <label>Residencial Adress</label>
                        <input type="text" class="form-control" formControlName="address" name="address" id="address">
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                        <label>Index Number</label>
                        <input type="text" class="form-control" formControlName="indexnum" name="indexnum"
                          id="indexnum">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                        <label>Program</label>
                        <input type="text" class="form-control" formControlName="program" name="program" id="program">
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col-md-4">
                      <div class="form-group bmd-form-group">
                        <label>Year</label>
                        <input type="number" class="form-control" formControlName="year" name="year" id="year">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group bmd-form-group">
                        <label>Course Title</label>
                        <input type="text" class="form-control" formControlName="course" name="course" id="course">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group bmd-form-group">
                        <label>Course Code</label>
                        <input type="text" class="form-control" formControlName="code" name="code" id="code">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-block btn-success" [disabled]="!addStudentForm.valid"
                    (click)="addStudent()"><i class="fas fa-plus"></i> Add Student</button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="card card-profile">
                  <div class="card-header-myDef">Upload an image</div>
                  <div class="card-body">
                    <div class="card-header-image img-shell p-3">
                      <img class="img" src="../assets/img/faces/marc.jpg" *ngIf="imgSelected === null">
                      <img class="img" src="{{imgSelectedSRC}}" *ngIf="imgSelected !== null">
                    </div>
                    <p class="card-description">
                      Use the button below to Upload an image
                    </p>
                    <input type="file" (change)="selectImage($event)" class="btn btn-outline-secondary btn-round">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="card card-profile">
                  <div class="card-header-myDef">Upload fingerprint data</div>
                  <div class="card-body">
                    <p class="card-description" id="studID">
                      
                    </p>
                    <input hidden name="fingerprint" id="fingerprint"/>
                    <div class="img-shell p-3">
                      <button onclick="fetchNFC()" class="btn active btn-secondary"><i
                          class="fas fa-fingerprint fa-5x"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="">
                Student Attendance System
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right" style="font-size: 14px;">
          &copy;
          <script>
            document.write(new Date().getFullYear())

          </script>. Developed by UCC IT Students.
          
        </div>
      </div>
    </footer>
  </div>
</div>

<script>
  function fetchNFC() {
    alert("HEY");
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var obj = JSON.parse(this.responseText);
        if(obj.status != 1){
          alert("Failed to Write");
          return;
        }
        document.getElementById("fingerprint").value = this.responseText;
        alert("Written Successfully");
        console.log(this.responseText);
      }else{
        alert("Failed to Write");
      }
    };
    var id = document.getElementById("indexnum").value;
    if(id == ""){
      alert("Student ID is Required to writen to NFC");
      return;
    }
    xhttp.open("GET", "http://169.254.122.161:5000/write?student_id=" + id, true);
    xhttp.send();
  }
</script>