<div class="container pt-5">
  <app-loader></app-loader>
  <div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto login-main">
      <form role="form" [formGroup]="loginForm">
        <div class="card card-prof ile">
          <div class="card-header card-header card-header-myDef">
            <h4 class="text-center card-title">Student Attendance System <br>Login</h4>
          </div>

          <div class="card-body pl-4 pr-4 pb-1">
            <div class="input-group pt-2 pb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <input class="form-control" formControlName="email" placeholder="Email" type="email">
            </div>
            <div class="input-group pb-2 pt-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
          </div>
          <div class="footer align-self-center">
            <button type="submit" class="btn btn-raised btn-myDef" [disabled]="!loginForm.valid"
              (click)="loginDashboard()">Sign in</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
