<div class="wrapper ">
  <div class="sidebar" data-color="myDefault" data-background-color="white" data-image="assets/img/sidebar-4.jpg">
    <app-sidenav></app-sidenav>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" >Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <!-- <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" (click)="logoutUser()">
                <i class="fas fa-sign-out" aria-hidden="true"></i> Logout
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <h5> Welcome {{adminData?.name}}</h5>

      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="">
                Student Attendance System
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right" style="font-size: 14px;">
          &copy;
          <script>
            document.write(new Date().getFullYear())

          </script>. Developed by UCC IT Students.
        </div>
      </div>
    </footer>
  </div>
</div>
